html, body {
    overflow-x: hidden;
    width: 100%;
}

.toc {
    position: absolute;
    top: 224px;
    left: 20px;
    width: 300px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background: #2e3b4e;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 1.2;
}

.fixed-toc {
    position: fixed;
    top: 20px; 
}

.toc h2 {
    all: unset;
    font-size: 18px;
    font-weight: bold;
    color: #f8f9fa;
    display: block;
    margin-bottom: 12px;
}

.toc ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.toc li {
    margin-bottom: 10px;
}

.toc a {
    text-decoration: none;
    color: #76c7ff; 
    font-weight: bold;
    display: block;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
}

.toc a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer.inner {
    padding: 0px 10px;
}

#main_content {
    padding-top: 0px;
}

@media (max-width: 1388px) {
    .toc {
        width: 21.6vw;
    }
    #main_content {
        margin-left: calc(21.6vw + 80px);
    }
}

@media (max-width: 540px) {
    .toc {
        display: none;
    }
    #main_content {
        margin: 0 auto;
    }
}
